
<form class="example-form">
  <div>
    <mat-form-field >
      <input [(ngModel)]="email" name="email" matInput placeholder="email" value="" required>
    </mat-form-field>
  </div>
  <div *ngIf = "email == null" style = "color: red">{{ required }}</div> 


  <div>
    <mat-form-field >
      <input [(ngModel)]="password" name="password" matInput placeholder="password" value="" required>  
    </mat-form-field>
  </div>
  <div *ngIf = "password == null" style = "color: red">{{ required }}</div>
  
   <button mat-raised-button  color="primary" (click) = "login()"> LOGIN</button> 
  
   </form> 
   