
  
<div *ngIf="authService.user | async">
  <h1> Welcome {{(authService.user | async)?.displayName}} !!</h1>
</div>
   
<h3>Add Todo</h3>

<div>
  <mat-form-field class="example-form ">
      <input [(ngModel)]="text" name="text" matInput placeholder="add Todo" value="">
      <mat-hint>Todo item</mat-hint>
    </mat-form-field>

    <button mat-raised-button  color="primary" (click) = "addTodo()"> Add Todo</button>
    <!--
<ul>
  <todo *ngFor = "let todo of todos" 
  [data]= "todo"></todo>
</ul>
-->
</div>